@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text: white;
}

body {
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: my-cool-font;
    src: url(./assets/Norse-Bold.otf);
}

h1 {
    font-family: my-cool-font, Roboto;
    color: var(--color-text);
    font-size: 60px;
}

.bg-image {
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
}

.form-container {
    height: auto;
    width: 59vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5vh;
}


#logo-img {
    height: 40px;
    width: 40px;
}

.logo {
    height: auto;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    gap:.8rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

fieldset {
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.submit {
    height: 2rem;
    width: 10rem;
    background-color: #596D48;
    position: relative;
    left: 5vw;
    border-radius: .5em;
    border: 1px solid #ffffff;
    color: aliceblue;
}

.submit:active{
    background-color: #2d3b20;
    transform: translateY(3px);
}

.submit:hover{
    cursor: pointer;
}

.fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(247, 251, 255);
    box-shadow: 0 10px 20px -2px rgb(138, 138, 138);
    padding: 2rem;
    justify-content: center;
    border-radius: .5rem;
}

.form-input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 80%;
}

input {
    padding: .5rem;
}

.fields input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

.fields input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

.fields input:valid{
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}
.fields input:focus:valid{
    border: 1px solid #8BC34A;
    background-color: transparent;
}

#login a {
    color: #596D48;
    text-decoration: none;
}

#login {
    padding-top: 1em;
}